<template>
    <div class="container">
        <br />
        <h1 class="title is-1">Portfolio<br />
            d'un développeur en informatique...</h1>

        <div class="card-header">
            <article class="media-content">
                <div class="media-left">
                    <router-link :to="{name: 'competences'}">
                        <img src="../assets/pic01.jpg" />
                        <p class="title is-2">Compétences</p>
                        <p class="subtitle is-5">Ce que je suis<br /> capable de faire...</p>
                    </router-link>
                </div>
            </article>

            <article class="media-content">
                <div class="media-left">
                    <router-link :to="{name: 'formations'}">
                        <img src="../assets/pic02.jpg" />
                        <p class="title is-2">Formations</p>
                        <p class="subtitle is-5">Ce que j'ai appris<br /> en milieu scolaire...</p>
                    </router-link>
                </div>
            </article>

            <article class="media-content">
                <div class="media-left">
                    <router-link :to="{name: 'experiences'}">
                        <img src="../assets/pic03.jpg" />
                        <p class="title is-2">Expériences</p>
                        <p class="subtitle is-5">Ce que j'ai appris<br /> dans le monde professionnel...</p>
                    </router-link>
                </div>
            </article>
        </div>

    </div>
</template>

<script>
    export default {
        name: "Accueil"
    }
</script>

<style>
</style>