<template>
    <div class="container">
        <br />
        <p class="title is-1">Mes compétences...</p>

        <article class="card-header">
            <article class="media-content">
                <h1>Mes compétences</h1>
                <span class="image main"><img src="../assets/bandeau.jpg" alt="" /></span>
                <p>Bla, bla, bla...</p>
            </article>
        </article>
    </div>
</template>

<script>
    export default {
        name: "Competences"
    }
</script>