<template>
    <footer class="footer">
        <div class="content has-text-centered">
            <h2>Contact</h2>
             <img src="../assets/enveloppe.png" class="ico" />&nbsp;xavier.kaecoute@laterre.espace<br />
             <img src="../assets/telephone.png" class="ico" />&nbsp;00.00.00.00.00
            <div>&copy; All rights reserved {{ new Date().getFullYear() }}</div>
        </div>
    </footer>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style scoped>
    img.ico {
        align-content: center;
        width: 24px;
        height: 24px;
    }
</style>