<template>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <router-link :to="{name: 'home'}">
                <a class="navbar-item">
                    <img src="../assets/icon.png" width="36" height="36">
                </a>
            </router-link>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <router-link :to="{name: 'competences'}"><a class="navbar-item">Compétences</a></router-link>
                <router-link :to="{name: 'formations'}"><a class="navbar-item">Formations</a></router-link>
                <router-link :to="{name: 'experiences'}"><a class="navbar-item">Expériences</a></router-link>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        name: "menu"
    }
</script>