<template>
  <div>
    <Menu />

    <div class="main">
      <slot />
    </div>

    <Footer />
  </div>
</template>

<script>
  import Menu from "@/components/Menu";
  import Footer from "@/components/Footer";

  export default {
    components: {
      Menu,
      Footer
    }
  };
</script>
