<template>
  <div>
    <div class="main">
      <slot />
    </div>

    <Footer />
  </div>
</template>

<script>
  import Footer from "@/components/Footer"

  export default {
    components: {
      Footer
    }
  };
</script>
